PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=dvl
DB_PASSWORD=666
DB_DATABASE=appdb

# MinIO local. En AWS, elimina S3_ENDPOINT y usa credenciales/roles de AWS.
S3_ENDPOINT=http://localhost:9000
S3_REGION=us-east-1
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET=teayudo
S3_FORCE_PATH_STYLE=true
S3_AUTO_CREATE_BUCKET=true
